/* === FONTS === */

/* space-mono-700 - latin */
@font-face {
  font-family: 'Space Mono';
  src: url('assets/fonts/space-mono-v17-latin-700.woff2') format('woff2'); 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* === CSS RESET === */

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* === CSS CUSTOM VARIABLES === */

:root {
  /* == COLOR PALLETTE == */

  /* Primary Color */
  --clr-green-400: hsl(172, 67%, 45%);

  /* Neutral Colors */
  --clr-grey-50: hsl(189, 47%, 97%);
  --clr-grey-200:  hsl(185, 41%, 84%);
  --clr-grey-400: hsl(184, 14%, 56%);
  --clr-grey-500: hsl(186, 14%, 43%);
  --clr-white: hsl(0, 100%, 100%);
  --clr-green-900: hsl(183, 100%, 15%);

  /* == TYPOGRAPHY == */

  /* font family */
  --ff-body: 'Space Mono', sans-serif;

  /* font size */
  --fs-form-input: 1.5rem;

  /* font weights */
  --fw-bold: 700;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xlg: 2.5rem;
}

body {
  min-height: 100vh;
  background-color: var(--clr-grey-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ff-body);
  line-height: 1.5;
}

.main__content--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  border-top-left-radius: var(--space-sm);
  border-top-right-radius: var(--space-sm);
}

.main__heading {
  letter-spacing: 0.5rem;
  color: var(--clr-green-900);
  margin-block: var(--space-lg);
  line-height: 1.3;
}

.main__calculator--dashboard {
  width: 100%;
  padding: clamp(1rem, 1.5vw, 1.5rem);
  display: flex;
  flex-direction: column;
}

.main__bill--container, .main__count--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__bill--container {
  margin-block-end: 1.5rem;
}

.input {
  all: unset;
  background-color: var(--clr-grey-50);
  padding: 0.5rem;
  border-radius: 0.4rem;
}

.main__selection--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main__selection--buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  color: var(--clr-white);
  font-size: var(--fs-form-input);
  margin-block-end: 1.5rem;
  text-align: center;
}

.select--btns, .custom--input {
  all: unset;
  background-color: var(--clr-green-900);
  border: none;
  width: clamp(2.5rem, 1.5vw, 4rem);
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.select--btn.active {
  color: var(--clr-grey-500);
}

.main__output--card {
  background-color: var(--clr-green-900);
  padding: var(--space-md) var(--space-sm);
  border-radius: var(--space-sm);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin: 0 1.5rem 2rem;
}

.output__card--heading {
  color: var(--clr-white);
}

.output__card--text {
  color: var(--clr-grey-500);
}

.tip__amount--container, .total__amount--container {
  display: flex;
  justify-content: space-between;
}

.tip--amount, .total {
  color: var(--clr-green-400);
  font-size: var(--fs-form-input);
}

.reset--btn {
  border: none;
  background-color: var(--clr-green-400);
  font-size: 1.2em;
  padding: 0.8rem 3rem;
  border-radius: 0.3rem;
  cursor: pointer;

}

@media screen and (min-width: 48rem) {

  .main__content--wrapper {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-block-end: 2rem;
  }

  .main__selection--buttons {
    grid-template-columns: repeat(3, 1fr);
  }

  .select--btns, .custom--input {
    width: clamp(1.5rem, 2vw, 8rem);
  }

  .main__output--card {
    width: 100%;
    margin-block-end: 0;
    margin-inline: 0;
    
  }



}